/* Tablet */
/* Navbar */
@media (max-width: 991px) {
  .nav-brand {
    display: none;
  }
  /* section-top(target & info) */
  section-top {
    gap: 0;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    margin-right: 10px;
  }
  #target,
  #info {
    font-size: 14px;
    margin-left: 0;
    height: 280px;
  }
  #info {
    padding-left: 10px;
  }
  section.infomation {
    column-count: 2;
    grid-template-columns: repeat(2, 1fr);
  }
  #activity {
    grid-area: 1 / 2;
    height: auto;
  }
  #skill {
    grid-area: 2/1;
  }
  #experience,
  #education,
  #activity,
  #favorite,
  #language,
  #skill {
    margin-right: 10px;
    border-right: 1px solid rgba(128, 128, 128, 0.219);
    border-left: 1px solid rgba(128, 128, 128, 0.219);
  }

  /* certificate */
  section.certificate {
    background-color: rgba(128, 128, 128, 0.1);
    margin-left: 10px;
    margin-right: 10px;
  }
  .certificate-img {
    width: 90%;
    margin-right: 10px;
    margin-left: 10px;
    border-right: 1px solid rgba(128, 128, 128, 0.219);
    border-left: 1px solid rgba(128, 128, 128, 0.219);
  }
  .content-certificate {
    display: block;
  }
  .certificate-img-3 {
    width: 45%;
    margin-left: 10px;
  }
  h5 {
    padding-left: 15px;
    font-size: 14px;
    font-style: italic;
  }
  .certi-content {
    column-gap: 0;
  }

  .cg {
    font-size: 12px;
    color: grey;
  }
  .content-certificate-2 {
    padding-left: 10px;
    border-left: 1px solid #e3ca5c;
  }
  .content-certificate-3 {
    grid-column: 1/-1;
    padding-top: 20px;
    border-top: 1px solid #e3ca5c;
  }

  /* Project */
  section.project {
    padding-left: 10px;
  }
  .content-flex > img {
    width: 90%;
  }
  tr td {
    width: 100%px;
  }

  /* Footer */
  footer {
    font-size: 120%;
    line-height: 3;
  }
  .avt-banner {
    display: none;
  }

  /* Digital CV */
  .container-digitalcv {
    margin: 5%;
    display: grid;
    width: 90%;
    grid-template-columns: 50% 25% 25%;
  }
}
